<div style="margin-top: 20px;">
  <p>User Component</p>
  <h1>create and use services</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt perferendis aut reprehenderit! Corrupti aliquid soluta excepturi sed, rem aperiam eaque illo qui maxime! Corporis voluptates necessitatibus velit, blanditiis aliquid itaque!</p>
  <button (click)="Onsubscribe()">SUBSCRIBE</button>
</div>

<div style="margin-top: 20px;">
  <input type="text" placeholder="Enter Your name" [(ngModel)]="name">
  <select name="gender" [(ngModel)]="gender">
    <option value="Male">Male</option>
    <option value="Female">Female</option>
  </select>
  <button (click)="onSubmit()">Submit</button>
</div>


<app-user-list></app-user-list>
